section.customer
   .content_section
        .intro_text
            h2 What our customers are saying
            p.text_black.
                Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
        .slider
            .item
                p.text_black.
                    The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.
                .author
                    .photo(style="background-image: url(img/alex.png);")
                    .author_name    
                        h4 Alexandra Bullock 
                        p.text_black.inc Apple Inc.
            .item
                p.text_black.
                    The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.
                .author
                    .photo(style="background-image: url(img/gary.png);")
                    .author_name    
                        h4 Alexandra Bullock 
                        p.text_black.inc Apple Inc.
            .item
                p.text_black.
                    The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.
                .author
                    .photo(style="background-image: url(img/samantha.png);")
                    .author_name    
                        h4 Alexandra Bullock 
                        p.text_black.inc Apple Inc.
            .item
                p.text_black.
                    The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.
                .author
                    .photo(style="background-image: url(img/gary.png);")
                    .author_name    
                        h4 Alexandra Bullock 
                        p.text_black.inc Apple Inc.
                        
            