section.download
    h2 Download Giant App Now
    .content_section
        .download_item
            .icon
                img(src="img/Mac_Icon.png", alt="Mac")
            .download_text
                h3 Download
                p.text_black   Download from app store
        .download_item
            .icon
                img(src="img/Android_Icon.png", alt="Android")
            .download_text
                h3 Download
                p.text_black Download from app store
        .download_item
            .icon
                img(src="img/Windows_Icon.png", alt="Windows")
            .download_text
                h3 Download
                p.text_black Download from microsoft store
        