footer
    section.footer
        .content_section
            nav.footer_socials
                li
                    a(href="")
                        i(class="fa fa-facebook" aria-hidden="true")
                li
                    a(href="")
                        i(class="fa fa-twitter" aria-hidden="true")
                li
                    a(href="")
                        i(class="fa fa-dribbble" aria-hidden="true")
                li
                    a(href="")
                        i(class="fa fa-behance" aria-hidden="true")
            p.text_white Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com
           



