header
    section.header
        .logo_wrap
            img(src="img/logo.png", alt="logo")
        
        .mobile_menu_wrap
            nav.mobile_menu_navigation
                li.mobile_menu_item
                    a Home
                li.mobile_menu_item
                    a Features
                li.mobile_menu_item
                    a Pricing
        .mobile_menu
            .hamburger_button(id="hamburger_button")
                .hamburger_button_item
                .hamburger_button_item
                .hamburger_button_item
        nav.header_navigation
            li.menu_item
                a Home
            li.menu_item
                a Features
            li.menu_item
                a Pricing
            li.menu_item.button.download_mow
                a Download Now