section.opportunities
    .advantages.content_section
        .advantages_item
            .icon
                img(src="img/advantages_1.png", alt="advantages_1")
            .advantages_text    
                h3.advantages_title Sell any product online
                p.text_black.
                    Over 92% of computers are infected with Adware and spyware. Such software is
        .advantages_item 
            .icon
                img(src="img/advantages_2.png", alt="advantages_2")
            .advantages_text
                h3.advantages_title Very easy to customize
                p.text_black.
                    Many of us are so used to working on a computer desktop that when it comes
        .advantages_item
            .icon
                img(src="img/advantages_3.png", alt="advantages_3")
            .advantages_text
                h3.advantages_title Unlimited colors
                p.text_black.
                    Audio player software is used to play back sound recordings in one of the many
        .advantages_item
            .icon
                img(src="img/advantages_4.png", alt="advantages_4")
            .advantages_text
                h3.advantages_title Responsive, HTML5, CSS3
                p.text_black.
                    Computers have become ubiquitous in almost every facet of our lives. At work
        .advantages_item
            .icon
                img(src="img/advantages_5.png", alt="advantages_5")
            .advantages_text
                h3.advantages_title Designed to convert
                p.text_black.
                    If you are looking for a new way to promote your business that won’t cost 
        .advantages_item
            .icon
                img(src="img/advantages_6.png", alt="advantages_6")
            .advantages_text
                h3.advantages_title With no boundaries
                p.text_black.
                    Now, if you are interested in being the best player, getting really good money and
                