section.price_section
    .content_section 
        .intro_text
            h2 We've got the perfect package for you
            p.text_black.
                Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
        .cards
            .cards_item
                h4.cards_item_option Basic
                .price_block
                    h1.price 12.0
                        span.price_dollar $
                        span.price_month /m
                ul.cards_item_list
                    li One User
                    li Multiple Access
                    li SMS Support
                    li 24/7 Online Support
                p.free_trial Start Free Trial
                a.button.buy_now(href="#") Buy Now
            .cards_item
                h4.cards_item_option Standard
                .price_block
                    h1.price 24.0
                        span.price_dollar $
                        span.price_month /m
                ul.cards_item_list
                    li Five User
                    li Multiple Access
                    li SMS Support
                    li 24/7 Online Support
                p.free_trial Start Free Trial
                a.button.buy_now(href="#") Buy Now
            .cards_item
                h4.cards_item_option Premium
                .price_block
                    h1.price 250.0
                        span.price_dollar $
                        span.price_month /m
                ul.cards_item_list
                    li Twenty User
                    li Multiple Access
                    li SMS Support
                    li 24/7 Online Support
                p.free_trial Start Free Trial
                a.button.buy_now(href="#") Buy Now
            .cards_item
                h4.cards_item_option Enterprise
                .price_block
                    h1.price <i class="price_dollar">$</i> 999.0 <i class="price_month">/m</i>
                       
                ul.cards_item_list
                    li Unlimited User
                    li Multiple Access
                    li SMS Support
                    li 24/7 Online Support
                p.free_trial Start Free Trial
                a.button.buy_now(href="#") Buy Now

                


                

            

