section.screenshots
    .content_section 
        .intro_text
            h2 Take a look at our screenshots
            p.text_black.
                Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
        .slider_wrap
            a.arrow( href="#" id="prev")
                i.fa.fa-arrow-left(aria-hidden="true")
            div(id='carousel')
                    .image
                        img(src="img/Bitmap_1.png", alt="" id="item-1")
                    .image
                        img(src="img/Bitmap_2.png", alt="" id="item-2")
                    .image
                        img(src="img/Bitmap_3.png", alt="" id="item-3")
                    .image
                        img(src="img/Bitmap_4.png", alt="" id="item-4")
                    .image
                        img(src="img/Bitmap_5.png", alt="" id="item-5")
                    .image
                        img(src="img/Bitmap_6.png", alt="" id="item-6")
                    .image
                        img(src="img/Bitmap_7.png", alt="" id="item-7")
            a.arrow( href="#" id="next")
                i.fa.fa-arrow-right(aria-hidden="true")
            

